.imageStyle {
  width: 100%;
  height: 40em;
}

.mainContainer {
  display: flex;
  width: 190%;
  padding: 0;
  margin-left: -450px;
  margin-bottom: 50px;
}
.colorButton {
  background-color: #ce003f;
}

.slideOneButton {
  background-color: #ce003f;
  box-shadow: 0 4 10px black;
  border-radius: 15px;
  color: white;
}

.slideOneButton:hover {
  background-color: white;
  color: #ce003f;
}
.titleOne {
  margin-bottom: 25px;
}

.titleTwo {
  margin-bottom: 25px;
}

.titleThree {
  margin-bottom: 25px;
}

.slideOneContainer {
  margin-bottom: 200px;
  padding: 70px;
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 500px;
  margin-left: 130px;
}

.slideTwoContainer {
  margin-bottom: 200px;
  padding: 70px;
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 500px;
  margin-left: 130px;
}

.slideThreeContainer {
  margin-bottom: 200px;
  padding: 70px;
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 500px;
  margin-left: 130px;
}
.buttonSliderTwo {
  padding: 20px;
  background-color: #ce003f;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .imageStyle {
    width: 100%;
  }
  .mainContainer {
    width: 100%;
    height: 400px;
    padding: 0;
    margin-left: 0;
    background-size: cover;
    margin-bottom: 80px;
  }
  .slideThreeContainer {
    margin-left: -20px;
    margin-bottom: 420px;
    width: 350px;
    padding: 40px;
  }
  .slideTwoContainer {
    margin-left: -20px;
    margin-bottom: 420px;
    width: 350px;
    padding: 40px;
  }
  .slideOneContainer {
    margin-left: -20px;
    margin-bottom: 420px;
    width: 350px;
    padding: 40px;
  }

  .sliderImage {
    background-size: cover;
    height: 450px;
    width: 100%;
  }
}
