.footerStyle {
  height: 15rem;
  margin-top: 2%;
  background-color: #eae4e5;
  color: #3b3a3a;
}

.TextStyle {
  color: #3b3a3a;
}

.footerLinks {
  color: #3b3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.linkColor {
  color: #3b3a3a;
  font-weight: 400;
  font-size: 1.3em;
}

@media screen and (max-width: 770px) {
  .footerStyle {
    margin-top: 1200px;
    margin-bottom: -1000px;
    width: 100%;
  }
}
