.MainCardStyle {
  margin-left: 2%;
  height: 30rem;
}

.eachCard {
  width: 25rem;
  margin-right: 2%;
}

.imageStyle {
  height: 20rem;
}

.buttonColor {
  color: black;
  background-color: white;
}

.buttonColor:hover {
  color: white;
  background-color: #ce003f;
}

@media screen and (max-width: 770px) {
  .mainCardStyle {
    height: 900px;
  }
}
